{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .couleur{color: #F5F5F5}
</style>

<!--Contenu-->
<head>   
    <br>
    <p class=couleur style="max-width: 50%; text-align: center; margin:0 auto"> <strong>Mes loisirs</strong></p>
    <div class="card text-white bg-primary mb-3" style="max-width: 50%; text-align: center; margin:0 auto">
        <div class="card-header"><strong>Jeu Vidéo</strong></div>
        <div class="card-body">
          <p class="card-text">Pendant mon temps libre, je joue un peu aux jeux vidéo comme par exemple Minecraft.</p>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 50%; text-align: center; margin:0 auto">
        <div class="card-header"><strong>Ecouter de la musique</strong></div>
        <div class="card-body">
          <p class="card-text">Dès que j'ai un peu de temps comme par exemple chez moi ou pendant le transport j'écoute de la musique de tout les genres</p>
        </div>
    </div>
</head>

{% endblock %}

